/*
    Contact page
*/
:root {
  --colorLink: #0000ee;
  --colorBorder: #6c6c6c;
}

/* Add to styles CSS */

/* Contact styling */
#contact_page {
  .contact_grid {
    #contactImage {
      display: none;
    }
    /* Tablet big */
    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 1rem;
      #contactImage {
        display: block;
        img {
          width: 100%;
        }
      }
    }
    #contactCards {
      > .contact_card:first-child {
        border-bottom: solid thin var(--colorHeader);
        margin-bottom: 1rem;
      }

      .contact_border {
        /* Desktop */
        @media (min-width: 1350px) {
          border: solid thin var(--colorHeader);
          border-radius: 0.5rem;
        }
      }
      .contact_card {
        display: grid;
        padding: 1rem;
        line-height: 1.5;

        @media (min-width: 768px) {
          display: flex;
          gap: 1rem;
        }

        picture {
          justify-self: center;
          max-width: 150px;

          img {
            border-radius: 100%;
            width: 100%;
          }
        }

        header {
          margin-bottom: 0.8rem;
          @media (min-width: 768px) {
            margin-bottom: 1rem;
          }
        }

        a {
          color: var(--colorLink);
          text-decoration: none;
        }
      }

      form {
        padding: 0 1rem;
        fieldset {
          padding: 1rem;
          border: thin solid var(--colorBorder);
          border-radius: 0.5rem;

          legend {
            padding: 0 0.25rem;
            font-size: 0.9rem;
          }
        }

        label {
          display: inline-block;
          width: 100%;

          @media only screen and (min-width: 1370px) {
            width: 7.5rem;

            &[for="txtInformation"] {
              width: 100%;
            }
          }
        }
        input,
        textarea {
          border: thin solid var(--colorBorder);
          border-radius: 0.125rem;
          width: 100%;
        }
        input {
          margin-bottom: 0.5rem;
        }

        textarea {
          height: 5rem;
        }

        button[type="submit"] {
          display: block;
          width: auto;
          margin: 0.5rem 0 0 1rem;
          padding: 0.5rem;
          border: 1.5px solid var(--colorBorder);

          border-radius: 0.5rem;
          font-size: 1rem;
        }
      }
    }
  }
}
