@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');


:root {
  --colorBgMain: #fffaf0;
  --colorBgHeader: #516283;
  --colorHeader: #d5c27f;
  --colorBgFooter: #252858;
  --colorSecondary: #582627;
  
  
  --fontMain: Roboto, Arial, sans-serif;
  --fontNav: "Martian Mono", Arial, serif;
}
